<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Hotel Template">
    <meta name="keywords" content="Hotel, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="*{title}"></title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Taviraj:300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/flaticon.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/linearicons.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/nice-select.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
</head>

<body>
    <div th:replace="fragments/header :: header"></div>
    <!-- Hero Slider Begin -->
    <div class="hero-slider">
        <div class="slider-item">
            <div class="single-slider-item set-bg" th:data-setbg="@{/img/slider-1.jpg}">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1>Nơi tuyệt vời cho<br />kỳ nghỉ của bạn.</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Slider End -->

    <!-- Room Availability Section Begin -->
    <section class="room-availability spad">
        <div class="container">
            <div class="room-check">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="room-item">
                            <div class="room-pic-slider room-pic-item owl-carousel">
                                <div class="room-pic">
                                    <img th:src="@{/img/room-slider/room-1.jpg}" alt="">
                                </div>
                                <div class="room-pic">
                                    <img th:src="@{/img/room-slider/room-2.jpg}" alt="">
                                </div>
                                <div class="room-pic">
                                    <img th:src="@{/img/room-slider/room-3.jpg}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="check-form">
                            <h2>Tìm phòng có sẵn</h2>
                            <form th:action="@{/seachRoom}" method="get" th:object="${searchRoom}">
                                <div class="datepicker">
                                    <div class="date-select">
                                        <p>Ngày đến</p>
                                        <input type="text" class="datepicker-1" value="dd / mm / yyyy" th:field="*{expectedArrivalDate}">
                                        <img th:src="@{/img/calendar.png}" alt="">
                                    </div>
                                    <div class="date-select to">
                                        <p>Ngày đi</p>
                                        <input type="text" class="datepicker-2" value="dd / mm / yyyy" th:field="*{expectDepartureDate}">
                                        <img th:src="@{/img/calendar.png}" alt="">
                                    </div>
                                </div>
                                <div class="room-quantity">
                                    <div class="single-quantity">
                                        <p>Người lớn</p>
                                        <div class="pro-qty"><input type="text" value="0" th:field="*{numberAudults}"></div>
                                    </div>
                                    <div class="single-quantity">
                                        <p>Trẻ em</p>
                                        <div class="pro-qty"><input type="text" value="0" th:field="*{numberChild}"></div>
                                    </div>
                                    <div class="single-quantity last">
                                        <p>Phòng</p>
                                        <div class="pro-qty"><input type="text" value="0" th:field="*{numberRoom}"></div>
                                    </div>
                                </div>
                                <div class="room-selector">
                                    <p>Loại phòng</p>
                                    <select class="suit-select"th:field="*{roomCategory}">
                                        <option th:value="''" th:text="'Vui lòng chọn loại phòng'"></option>
                                        <option th:value="couple" th:text="'Phòng đôi'"></option>
                                        <option th:value="single" th:text="'Phòng đơn'"></option>
                                        <option th:value="family" th:text="'Phòng gia đình'"></option>
                                    </select>
                                </div>
                                <button type="submit">Tìm phòng<i class="lnr lnr-arrow-right"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Room Availability Section End -->

    <!-- Facilities Section Begin -->
    <div class="facilities-section spad">
        <div class="container">
            <div class="facilities-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title">
                            <h1>Dịch vụ</h1>
                        </div>
                    </div>
                    <div class="col-lg-6 p-0">
                        <div class="facilities-img set-bg" data-setbg="img/facilities-1.jpg"></div>
                    </div>
                    <div class="col-lg-6 p-0 ">
                        <div class="facilities-text-warp">
                            <div class="facilities-text">
                                <h2>Massage</h2>
                                <p>Giúp quý khách thư giản sau những ngày làm việc vất vả</p>
                                <a href="#" class="primary-btn fac-btn">Xem ngay<i class="lnr lnr-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 p-0 order-lg-1 order-2">
                        <div class="facilities-text-warp">
                            <div class="facilities-text">
                                <h2>Spa</h2>
                                <p>Hệ thống công nghệ được trang bị đầy đủ từ cơ bản đến nâng cao</p>
                                <a href="#" class="primary-btn fac-btn">Xem ngay <i class="lnr lnr-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 p-0 order-lg-2 order-1">
                        <div class="facilities-img set-bg" data-setbg="img/facilities-2.jpg"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Facilities Section End -->

    <!-- Follow Instagram Section Begin -->
    <section class="follow-instagram">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Theo dõi Instagram của chúng tôi @thongho</h2>
                </div>
            </div>
        </div>
    </section>
    <!-- Follow Instagram Section End -->

    <!-- Footer Room Pic Section Begin -->
    <div class="footer-room-pic">
        <div class="container-fluid">
            <div class="row">
                <img th:src="@{/img/room-footer-pic/room-1.jpg}" alt="">
                <img th:src="@{/img/room-footer-pic/room-2.jpg}" alt="">
                <img th:src="@{/img/room-footer-pic/room-3.jpg}" alt="">
                <img th:src="@{/img/room-footer-pic/room-4.jpg}" alt="">
            </div>
        </div>
    </div>
    <!-- Footer Room Pic Section End -->

    <div th:replace="fragments/footer :: footer"></div>
    <!-- Js Plugins -->
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
    <script th:src="@{/js/jquery-ui.min.js}"></script>
    <script th:src="@{/js/jquery.nice-select.min.js}"></script>
    <script th:src="@{/js/jquery.slicknav.js}"></script>
    <script th:src="@{/js/owl.carousel.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
</body>

</html>