<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body class="tm-gray-bg" th:fragment="header">
<!-- Header -->
<div class="tm-header">
    <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-3 tm-site-name-container">
            <a href="#" class="tm-site-name">Holiday</a>
        </div>
        <div class="col-lg-6 col-md-8 col-sm-9">
            <div class="mobile-menu-icon">
                <i class="fa fa-bars"></i>
            </div>
            <nav class="tm-nav">
                <ul>
                    <li><a th:href="@{/index.html}" class="active">Trang chủ</a></li>
                    <li><a th:href="@{/about.html}">Về khách sạn</a></li>
                    <li><a th:href="@{/contact.html}">Liên hệ</a></li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-4 col-md-8 col-sm-9 ml-3">
            <div class="mobile-menu-icon">
                <i class="fa fa-bars"></i>
            </div>
            <nav class="tm-nav">
                <ul>
                    <li><a th:if="${session.usersession == null}" th:href="@{/sign-in.html}">Đăng nhập</a></li>
                    <li><a th:unless="${session.usersession == null}" th:href="@{#}" >Quản lí bài viết</a></li>
                    <li><a th:if="${session.usersession == null}" th:href="@{/sign-up.html}">Tạo tài khoản</a></li>
                    <li><a th:unless="${session.usersession == null}" th:href="@{#}" >Đăng xuất</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
</body>

</html>