<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<body th:fragment="header">
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header Section Begin -->
<header class="header-section other-page">
    <div class="container-fluid">
        <div class="inner-header">
            <div class="logo">
                <a th:href="@{index}"><img th:src="@{/img/logo.png}" alt=""></a>
            </div>
            <div class="top-widget">
                <a th:if="${session.usersession == null}" th:href="@{login}" class="top-info address"><img th:src="@{/img/placeholder.png}" alt=""><span>Đăng nhập</span></a>
                <a th:unless="${session.usersession == null}" th:href="@{#}" class="top-info address"><img th:src="@{/img/speech.png}" alt=""><span>Quản lí tài khoản</span></a>
                <a th:if="${session.usersession == null}" th:href="@{register}" class="top-info address"><img th:src="@{/img/phone.png}" alt=""><span>Đăng ký</span></a>
                <a th:unless="${session.usersession == null}" th:href="@{logout}" class="top-info address"><img th:src="@{/img/placeholder.png}" alt=""><span>Đăng xuất</span></a>
            </div>
            <div class="container">
                <nav class="main-menu mobile-menu">
                    <ul>
                        <li><a th:href="@{index}">Trang chủ</a></li>
                        <li><a th:href="@{about-us}">Về chúng tôi</a></li>
                        <li><a th:href="@{rooms}">Phòng</a></li>
                        <li><a th:href="@{services}">Dịch vụ</a></li>
                        <li><a th:href="@{contact}">Liên hệ</a></li>
                    </ul>
                </nav>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </div>
</header>
<!-- Header End -->
</body>

</html>